.preloader {
  position: fixed;
  width: 100%; height: 100%;
  background-color: #fff;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .6s linear;
     -moz-transition: all .6s linear;
      -ms-transition: all .6s linear;
       -o-transition: all .6s linear;
          transition: all .6s linear;
}
.preloader-hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.3);
     -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
       -o-transform: scale(0.3);
          transform: scale(0.3);
}
.preloader .tb {
  height: 100%;
}
.preloader .loading-wrap {
  position: absolute;
  top: 50%; left: 50%;
  @include translate(-50%, -50%);
}
.preloader .p-loading {
  position: relative;
  display: inline-block;
  font-family: $pd;
  font-size: 28px;
  text-transform: uppercase;
  color: #ccc;
  letter-spacing: 0.1em;
}
.preloader .p-loading:after {
  content: attr(data-loading);
  position: absolute;
  display: inline-block;
  top: 0; left: 0;
  width: 90%;
  color: $color;
  overflow: hidden;
  -webkit-animation: preloader 20s linear;
  -moz-animation: preloader 20s linear;
  -ms-animation: preloader 20s linear;
  animation: preloader 20s linear;
}
@-webkit-keyframes preloader {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  10.5% {
    width: 15%;
  }
  15% {
    width: 15%;
  }
  22% {
    width: 22%;
  }
  22.5% {
    width: 31%;
  }
  36% {
    width: 31%;
  }
  50% {
    width: 40%;
  }
  60% {
    width: 42%;
  }
  65% {
    width: 65%;
  }
  65.5% {
    width: 80%;
  }
  90% {
    width: 85%;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes preloader {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  10.5% {
    width: 15%;
  }
  15% {
    width: 15%;
  }
  22% {
    width: 22%;
  }
  22.5% {
    width: 31%;
  }
  40% {
    width: 31%;
  }
  50% {
    width: 40%;
  }
  60% {
    width: 42%;
  }
  65% {
    width: 65%;
  }
  65.5% {
    width: 80%;
  }
  90% {
    width: 85%;
  }
  100% {
    width: 90%;
  }
}
@-ms-keyframes preloader {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  10.5% {
    width: 15%;
  }
  15% {
    width: 15%;
  }
  22% {
    width: 22%;
  }
  22.5% {
    width: 31%;
  }
  40% {
    width: 31%;
  }
  50% {
    width: 40%;
  }
  60% {
    width: 42%;
  }
  65% {
    width: 65%;
  }
  65.5% {
    width: 80%;
  }
  90% {
    width: 85%;
  }
  100% {
    width: 90%;
  }
}
@keyframes preloader {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  10.5% {
    width: 15%;
  }
  15% {
    width: 15%;
  }
  22% {
    width: 22%;
  }
  22.5% {
    width: 31%;
  }
  40% {
    width: 31%;
  }
  50% {
    width: 40%;
  }
  60% {
    width: 42%;
  }
  65% {
    width: 65%;
  }
  65.5% {
    width: 80%;
  }
  90% {
    width: 85%;
  }
  100% {
    width: 90%;
  }
}
.preloader .progressFull:after {
  content: attr(data-loading);
  position: absolute;
  display: inline-block;
  top: 0; left: 0;
  color: $color;
  overflow: hidden;
  -webkit-animation: preloaderFull .4s linear both .4s;
  -moz-animation: preloaderFull .4s linear both .4s;
  -ms-animation: preloaderFull .4s linear both .4s;
  animation: preloaderFull .4s linear both .4s;
}
@-webkit-keyframes preloaderFull {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes preloaderFull {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes preloaderFull {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes preloaderFull {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
