.page-404 {
    padding: 0;
    .page-content {
        .tb {
            padding: 38px;
        }
        h2 {
            font-family: $ms;
            font-weight: 700;
            font-size: 150px;
            color: #000;
            margin: 0;
            span {
                color: $color;
            }
        }
        h4 {
            font-size: 18px;
            margin-top: 0;
        }
        .widget_search {
            margin-top: 25px;
        }
        .go-home {
            margin-top: 25px;
        }
    }
}