.header {
	position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	.logo {
		padding: 80px 20px;
		margin-bottom: 52px;
		a {
			display: inline-block;
		}
		img {
			max-height: 90px;
		}
	}
	&.header-responsive {
		.logo {
			margin-bottom: 0;
			margin-top: 52px;
		}
		.pi-navigation {
			position: fixed;
			top: 0;
			bottom: auto;
			border-top: 0;
		}
	}
}
.pi-navigation {
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	z-index: 9999;
	height: 52px;
	@include translateZ(0);
	&.nav-fixed {
		position: fixed;
		top: 0; bottom: auto;
	}
	.container {
		height: 100%;
	}
	.search-box {
		position: absolute;
		top: 50%; right: -12px;
		@include translateY(-50%);
		input[type="search"] {
			position: absolute;
			height: 40px;
			line-height: 40px;
			background-color: #fff;
			border: 1px solid #eee;
			top: 26px; right: 25px;
			width: 50%;
			opacity: 0;
			visibility: hidden;
			@include transition;
			&.fadein {
				width: 200px;
				opacity: 1;
				visibility: visible;
			}
		}
		.icon-search {
			display: block;
			position: absolute;
			width: 45px; height: 20px;
			text-align: center;
			cursor: pointer;
			color: #383838;
			right: 15px;
			top: 50%;
			@include translateY(-50%);
			@include transition;
			.fa {
				line-height: 18px;
			}
			&.active,
			&:hover {
				color: $color;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				border-left: 1px solid #999;
				height: 16px;
				width: 0;
				margin: auto;
				top: 0; bottom: 0;
				left: 0;
			}
		}
	}
	.share-box {
		position: absolute;
		top: 50%; right: 60px;
		@include translateY(-50%);
		a {
			display: inline-block;
			margin: 0 5px;
			color: #383838;
			&:hover {
				color: $color;
			}
		}
	}
}
.navlist {
	font-size: 0;
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	li {
		position: relative;
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
		a {
			display: inline-block;
			font-family: $ms;
			font-size: 10px;
			color: #2f2f2f;
			text-transform: uppercase;
			line-height: 52px;
		}
		&:first-child {
				margin-left: 0;
		}
		.sub-menu {
			position: absolute;
			background-color: #fefefe;
			width: 190px;
			padding: 0;
			list-style: none;
			left: -5px; top: 97%;
			border: 1px solid #f3f3f3;
			opacity: 0;
			visibility: hidden;
			@include transition;
			li {
				display: block;
				margin: 0;
				a {
					display: block;
					padding: 0 15px;
					border-bottom: 1px solid #f3f3f3;
					line-height: 40px;
				}
				&:last-child {
					a {
						border: 0;
					}
				}
			}
			.sub-menu {
				left: 100%;
				top: -1px;
			}
		}
		.current-menu-parent,
		.current-menu-item,
		&:hover {
			> a {
				color: $color;
			}
		}
		&:hover {
			> .sub-menu {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	
	&.off-canvas {
		position: fixed;
		width: 250px;
		top: 52px; left: 0;
		padding: 0;
		background-color: #f7f9f9;
		@include box-shadow(0 100px 0 0 #f7f9f9);
		z-index: 999;
		@include translateX(-100%);
		@include transition;
		li {
			position: static;
			display: block;
			margin: 0;
			a {
				display: block;
				border-bottom: 1px solid #eee;
				line-height: 42px;
				padding: 0 15px;
			}
			&:last-child {
				a {
					border: 0;
				}
			}
			> .sub-menu {
				opacity: 1;
				visibility: visible;
				position: absolute;
				border: 0;
				width: 100%; height: 100%;
				top: 0; left: 0;
				background-color: #f7f9f9;
				@include translateX(-100%);
				li {
					a {
						border-bottom: 1px solid #eee;
					}
					&:last-child {
						a {
							border: 0;
						}
					}
				}
				&.sub-menu-active {
					@include translateX(0);
				}
			}
		}
		&.off-canvas-active {
			@include translateX(0);
		}
		.submenu-toggle {
			position: absolute;
			top: 0;
			right: 0;
			width: 42px; height: 42px;
			text-align: center;
			cursor: pointer;
			border-left: 1px solid #eee;
			background-color: #f3f3f3;
			color: #383838;
			.fa {
				font-size: 14px;
				line-height: 42px;
			}
		}
		.back-mb {
			background-color: #f3f3f3;
		}
	}
}

.open-menu {
	position: absolute;
	width: 50px; height: 14px;
	cursor: pointer;
	margin: auto;
	top: 0; left: 0; bottom: 0;
	z-index: 999;
	.item {
		position: absolute;
		display: block;
		font-size: 0;
		width: 20px; height: 2px;
		background-color: #383838;
		margin: auto;
		left: 0; right: 0;
		overflow: hidden;
		z-index: 1;
		@include transition;
	}
	.item-1 {
		top: 0;
	}
	.item-2 {
		top: 0; bottom: 0;
	}
	.item-3 {
		bottom: 0;
	}
	&.toggle-active {
		.item {
			background-color: $color;	
		}
	}
}

.close-menu {
	position: absolute;
	width: 50px; height: 14px;
	cursor: pointer;
	margin: auto;
	top: 0; left: 0; bottom: 0;
	z-index: 99999;
	display: none;
}
